page-recovery-password {
  font-family: "Roboto";

  .header-icon {
    color: #fff;
  }

  .bar-button-default {
    color: #fff !important;
  }

  .recovery-password {
    background: url("../assets/imgs/bg-opaca.jpg") no-repeat center center/cover transparent;

    .logo {
      padding: 0em 3.5em 0em 3.5em;
      margin-top: 0;

      .img {
        @include respond-to(xs) {
          width: 120px;
        }
        @include respond-to(sm) {
          width: 120px;
        }
        @include respond-to(md) {
          width: 120px;
        }
        @include respond-to(lg) {
          width: 190px;
        }
        @include respond-to(xl) {
          width: 190px;
        }
      }

      .img-centralize {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .img-logo {
        img {
          border-radius: 5px;
        }
      }

      .logo-amc {
        .img-logo1-menu {
          text-align: center;
        }
        img {
          width: 40%;
          background: #f2f2f2;
          padding: 5px;
        }
      }
    }

    .grid-form {
      margin-top: 20px;

      .form-margin {
        @include respond-to(xs) {
          width: 100%;
          margin: 0px 15%;
        }
        @include respond-to(sm) {
          width: 100%;
          margin: 0px 15%;
        }
        @include respond-to(md) {
          width: 100%;
          margin: 0px 15%;
        }
        @include respond-to(lg) {
          width: 450px;
        }
        @include respond-to(xl) {
          width: 450px;
        }

        .form {
          div {
            margin-bottom: 20px;

            ion-input {
              background-color: rgba(255, 255, 255, 0.3) !important;
              border: none !important;
              border-radius: 3px;
              padding-left: 15px;
              color: #fff;
            }

            ::placeholder {
              color: #fff;
            }

            ::-webkit-input-placeholder {
              /* WebKit browsers */
              color: #fff;
            }

            :-moz-placeholder {
              /* Mozilla Firefox 4 to 18 */
              color: #fff;
            }

            ::-moz-placeholder {
              /* Mozilla Firefox 19+ */
              color: #fff;
            }

            :-ms-input-placeholder {
              /* Internet Explorer 10+ */
              color: #fff;
            }
          }

          .error-message {
            margin: auto;
            color: #ff4b4b;
          }
        }

        .btn {
          border: none !important;
          background: color($colors, primary);
          height: 35px;
        }
      }

      ion-row {
        ion-label {
          font-size: 13px;
        }
        .btn-link {
          cursor: pointer;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.7) !important;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }
  }

  .success {
    .alert-wrapper {
      background-color: #00cc99;
      color: #fff;
    }

    .alert-message {
      color: #fff;
    }

    .alert-button-group {
      .btn-ok {
        color: #fff;
      }
    }
  }

  .error {
    .alert-wrapper {
      background-color: #cc0033;
      color: #fff;
    }

    .alert-message {
      color: #fff;
    }

    .alert-button-group {
      .btn-ok {
        color: #fff;
      }
    }
  }

  .info {
    .alert-wrapper {
      background-color: #4d90fe;
      color: #fff;
    }

    .alert-message {
      color: #fff;
    }

    .alert-button-group {
      .btn-ok {
        color: #fff;
      }
    }
  }
}
