page-veiculo-estacionado {
  .header-icon {
    color: #fff;
    font-size: 18pt;
  }

  .header-text {
    color: #fff;
    font-size: 12pt;
  }

  .bar-button-default {
    color: #fff !important;
  }

  #mapVeiculoEstacionado {
    height: 100%;
    width: 100%;
  }
}
