custom-card {
    .card{
        border-left: 6px solid #d311ed;
        color: #243060;
        border-radius: 5px;
        width: 95%;
        height: 120px;
        background-color: #fff;
        box-shadow: 1px 3px 3px rgb(145, 145, 145);
      }

}
